# Database
DB_DRIVER={ODBC Driver 17 for SQL Server}
DB_SERVER=localhost
DB_NAME=SEJDB2020
DB_USER=username_sql
DB_PASS=password_sql

# Google
GOOGLE_SHEET_ID=1F4sRkpLX_H_UT27J5TBOghm_tPDI1ZhKR3lYYylAVRY
GOOGLE_SHEET_NAME=Sheet1
GOOGLE_CREDENTIALS_FILE=credentials.json